/* body */
body {
  font-family: "Raleway", sans-serif;
  position: relative;
  color: #2e2f42;
  background: #ffffff;
}
/* header */
/* logo */

.logo-firstpart {
  width: 44px;
  height: 24px;

  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #4d5ae5;
}
.logo-secondpart {
  width: 71px;
  height: 24px;

  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #2e2f42;
}

/* menu */
.menu {
  list-style: none;
}
.menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: #2e2f42;
}
.menu-item:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: #404bbf;
  text-decoration: underline;
}

/* contacts */
.contacts {
  list-style: none;
}
.contacts-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: #434455;
}
.contacts-item:hover {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: #404bbf;
}
.link {
  text-decoration: none;
}

/* main */

/* navigation */
.navigation {
  width: 69px;
  height: 48px;

  list-style: none;
}
.navigation-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;

  color: #4d5ae5;

  height: 48px;

  background: #f4f4fd;

  cursor: pointer;
}

.navigation-button:hover {
  color: #ffffff;

  height: 48px;

  background: #404bbf;
}

.main-list-item {
  background: #ffffff;
  list-style: none;
}
.main-general-list {
  list-style: none;
}

/* first-section */
.first-section {
  background: #2e2f42;
}
h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;

  letter-spacing: 0.02em;

  color: #ffffff;
}
.first-section-button {
  height: 24px;

  font-family: inherit;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;

  color: #ffffff;

  background: #4d5ae5;
  cursor: pointer;
}
.first-section-button:hover {
  font-family: inherit;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;

  letter-spacing: 0.04em;

  color: #ffffff;

  background: #404bbf;
}
/* second-section */

/* third-section */

.third-section-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: #2e2f42;
}
.fourth-section {
  background: #f4f4fd;
}
.fourth-section-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: #2e2f42;
}

.fourth-section-first {
  background: #ffffff;
}
.fourth-section-second {
  background: #ffffff;
}
.fourth-section-third {
  background: #ffffff;
}
.fourth-section-fourth {
  background: #ffffff;
}

/* footer */
footer {
  background: #2e2f42;
}

.footer-logo-firstpart {
  width: 44px;
  height: 22px;

  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo-secondpart {
  width: 71px;
  height: 22px;

  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
.list {
  list-style: none;
}
